VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6a1602280039f929a173"
VITE_APPWRITE_DATABASE_ID="6a1603450002dddfa2d9"
VITE_APPWRITE_TABLE_ID="articles"
VITE_APPWRITE_BUCKET_ID="6a160ab1000e98f8140e"
